@font-face {
    font-family: Vazirmatn;
    src: url('./../Fonts/Vazirmatn-RD-NL[wght].ttf');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: VazirmatnDigit;
    src: url('./../Fonts/PersianDigit/Vazirmatn-FD-SemiBold.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}