.flexDoubleAliningRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexDoubleAliningColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}