.googleSection {
    width: calc(50% - 1em);
    overflow: hidden;
    gap: 8px;
}

.googleSearchSection {
    width: 100%;
    height: 85px;
    padding: 24px;
    background: #fff;
    border-radius: var(--borderRadius-bigCurved);
}

.googleSearchBoxWrapper {
    position: relative;
    width: 100%;
    height: 50px;
    justify-content: flex-start;
}

.googleSearchBox__searchInput {
    width: 100%;
    height: 90%;
    padding: 0 38px;
    color: var(--googleSection-color);
    background-color: #f3f4f6;
    font-size: 14px;
    border-radius: var(--borderRadius-maximum);
}

.googleSearchBox__googleLogo {
    position: absolute;
    right: 8px;
    width: 25px;
    height: 25px;
}

.googleSearchBox__searchBtn {
    position: absolute;
    left: 8px;
    width: 47px;
    height: 31px;
    border-radius: var(--borderRadius-maximum);
    background: var(--googleSection-color);
    color: #fff;
}

.googleSearchBox__searchIcon {
    font-size: 26px;
}

.favoriteWebsites {
    width: 100%;
    flex-flow: row wrap;
    gap: 6px;
}

.favoriteWebsites__appBlock {
    width: 85px;
    height: 85px;
    padding: 8px;
    background: #fff;
    padding: 4px;
    border-radius: 10px;
    gap: 8px;
}

.favoriteWebsites__appBlock--border {
    border: 1px solid #006da6;
}

.favoriteWebsites__appLink {
    width: 70%;
    height: 90%;
    color: #000;
    gap: 8px;
}

.favoriteWebsites__appLogo {
    width: 36px;
    height: 36px;
    user-select: none;
}

.favoriteWebsites__appIcon {
    width: 36px;
    height: 36px;
    font-size: 32px;
    color: var(--iconifyIcon-color);
}

.favoriteWebsites__appIcon--size {
    width: 24px;
    height: 24px;
    color: gray;
}

.favoriteWebsites__appName {
    font-size: 13px;
    font-weight: 500;
}

.favoriteWebsites__appBlock:first-child .favoriteWebsites__appName {
    font-size: 14px;
    font-weight: 700;
}