.timeAndWeatherSection {
    width: calc(25% - 1em);
    height: 269px;
    background: #fff;
    border-radius: var(--borderRadius-bigCurved);
    overflow: hidden;
    align-items: flex-start;
}

.timeSection {
    width: 50%;
    height: 50%;
    padding: 8px;
    font-family: VazirmatnDigit;
    border-left: var(--bordeStyle-main);
    border-bottom: var(--bordeStyle-main);
    justify-content: space-evenly;
}

.timeSection__timeIndicator {
    width: 100%;
    height: 50px;
    font-size: 30px;
    font-weight: 700;
    color: #276ef7;
}

.solarCalendar {
    width: 100%;
    height: 24px;
    color: var(--textInput-color);
    gap: 5px;
}

.timeSection__calendersSection {
    width: 100%;
    color: #6b7280;
    text-align: center;
}

.timeSection__doubleCalender {
    padding: 3px 0;
    width: 100%;
    align-items: flex-start;
    gap: 2px;
    font-size: 8px;
}

.lunarCalendar {
    width: 60%;
}

.gregorianCalendar {
    width: 40%;
    font-family: sans-serif;
    direction: ltr;
}

.timeSection__btnsWrapper {
    width: 100%;
    height: 25.6px;
    justify-content: space-around;
    font-size: 8px;
}

.timeSection__timer,
.timeSection__oqat {
    height: 25.6px;
    padding: 4px 8px;
    gap: 1px;
    border-radius: 100px;
    border: var(--bordeStyle-main);
    cursor: pointer;
}