.timeAndWeatherSection {
    width: calc(25% - 1em);
    height: 269px;
    background: #fff;
    border-radius: 24px;
    overflow: hidden;
    align-items: flex-start;
}

.timeSection {
    width: 50%;
    height: 50%;
    padding: 8px;
    font-family: VazirmatnDigit;
    border-left: 0.8px solid rgb(229, 231, 235);
    border-bottom: 0.8px solid rgb(229, 231, 235);
    justify-content: space-evenly;
}

.timeSection__timeIndicator {
    width: 100%;
    height: 50px;
    font-size: 30px;
    font-weight: 700;
    color: rgb(39, 110, 247);
}

.solarCalendar {
    width: 100%;
    height: 24px;
    color: rgb(30, 42, 88);
    gap: 5px;
}

.timeSection__calendersSection {
    width: 100%;
    color: rgb(107, 114, 128);
    text-align: center;
}

.timeSection__doubleCalender {
    padding: 3px 0;
    width: 100%;
    align-items: flex-start;
    gap: 2px;
    font-size: 8px;
}

.lunarCalendar {
    width: 60%;
}

.gregorianCalendar {
    width: 40%;
    font-family: sans-serif;
    direction: ltr;
}

.timeSection__btnsWrapper {
    width: 100%;
    height: 25.6px;
    justify-content: space-around;
    font-size: 8px;
}

.timeSection__timer,
.timeSection__oqat {
    height: 25.6px;
    padding: 4px 8px;
    gap: 1px;
    border-radius: 100px;
    border: 0.8px solid rgb(229, 231, 235);
    cursor: pointer;
}