/* -------------------------- Start Of To Do Section -------------------------- */
.todoSection {
    width: calc(25% - 1em);
    height: 100%;
    background-color: #fff;
    border-radius: 24px;
    justify-content: flex-start;
    overflow: hidden;
}

.todoSectionHeader {
    padding: 10px;
    width: 100%;
    height: 60px;
    font-size: 1.5em;
    font-weight: 700;
    justify-content: space-between;
    border-bottom: 0.8px solid #e5e7eb;
}

.todoSection__visibilityOff {
    padding: 8px;
    font-size: 16px;
    color: rgb(47, 63, 125);
    background-color: rgb(243, 244, 246);
    border-radius: 10px;
}

.todoSection__TasksList {
    flex: 1;
    width: 100%;
    padding: 10px 5px;
    justify-content: flex-start;
    gap: 10px;
}

.todoSection__TasksItem {
    width: 97%;
    padding: 8px 4px;
    background-color: #fff;
    border: 0.8px solid rgb(229, 231, 235);
    border-radius: 10px;
    gap: 3px;
}

.todoSection__checkBox {
    display: none;
}

.todoSection__checkBoxLabel {
    position: relative;
    width: 15px;
    height: 15px;
    margin-left: 3px;
    background-color: #cef0d9;
    border: 1px solid #8f97b1;
    border-radius: 5px;
}

.todoSection__checkBoxLabel:hover {
    cursor: pointer;
}

.todoSection__checkBox:checked+.todoSection__checkBoxLabel {
    background-color: #8f97b1;
}

.todoSection__checkBox:checked~.todoSection__userTaskContent {
    color: #8f97b1;
    text-decoration: line-through;
}

.todoSection__checkBox:checked+.todoSection__checkBoxLabel::before {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-size: cover;
    background-image: url(./../Images/ToDo/check.svg);
}

.todoSection__userTaskContent {
    width: 50%;
    font-size: 12px;
    font-weight: 600;
    word-spacing: -1.5px;
    margin-left: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.todoSection__userTaskContent:hover {
    overflow: visible;
}

.todoSection__removeIcon,
.todoSection__editIcon {
    font-size: 15px;
    color: #8f97b1;
    display: none;
}

.todoSection__removeIcon {
    margin-right: 3px;
}

.todoSection__TasksItem:hover .todoSection__removeIcon,
.todoSection__TasksItem:hover .todoSection__editIcon {
    display: block;
}


.todoSection__addTaskSection {
    width: 100%;
    height: 60px;
    padding: 12px;
    border-top: 0.8px solid rgb(229, 231, 235);
}

.todoSection__addInputWrapper {
    padding: 0 4px;
    width: 100%;
    height: 40px;
    border: 0.8px solid rgb(214, 211, 209);
    border-radius: 6px;
    justify-content: space-between;
}

.todoSection__addInputTask {
    flex: 1;
    font-size: 14px;
    color: rgb(30, 42, 88);
    font-weight: 700;
}

.todoSection__addInputTask::placeholder {
    font-weight: 700;
    color: #94a3b8;
}

.todoSection__addBtnTask {
    width: 14px;
    height: 18px;
    background: transparent;
}

.todoSection__addTaskIcon {
    font-size: 14px;
    color: rgb(168, 166, 164);
}

/* --------------------------- End Of To Do Section --------------------------- */