.weatherSection {
    width: 50%;
    height: 50%;
    font-family: VazirmatnDigit;
}

.weatherSection {
    padding: 8px;
    border-bottom: 0.8px solid rgb(229, 231, 235);
    justify-content: space-evenly;
}

.weatherSection__tempratureComplex {
    width: 100%;
}

.weatherSection__tempratureRange {
    width: 80%;
    height: 22px;
    font-size: 10px;
    color: rgb(107, 114, 128);
    justify-content: space-between;
}

.weatherSection__tempratureNumber {
    width: 100%;
    color: rgb(137, 81, 254);
    font-size: 30px;
}

.weatherSection__tempratureIcon {
    width: 50px;
    height: 50px;
}

.weatherSection__descriptionsText {
    width: 100%;
    height: 24px;
}

.weatherSection__tempratureText {
    height: 100%;
    color: rgb(18, 18, 18);
    font-size: 10px;
    font-weight: 700;
}


.weatherSection__forecast {
    padding: 4px 8px;
    height: 25.6px;
    font-size: 8px;
    border: 0.8px solid rgb(229, 231, 235);
    border-radius: 100px;
    cursor: pointer;
    gap: 1px;
}